* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.con {
  width: 700px;
  margin: 100px auto;
  font-family: sans-serif;
  flex-direction: column;
  gap: 24px;
  display: flex;
}
.num,
.head {
  color: orange;
  font-size: 24px;
  font-weight: 500;
}
.text p {
  color: #444;
  line-height: 1.7;
  margin-bottom: 24px;
}
.head {
  color: #444;
}
.text ul {
  color: #444;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.text {
  grid-column: 2;
  display: none;
}
.open {
  border-top: 6px solid rgb(255, 120, 42);
}
.open .text {
  display: block;
}
.open .num,
.open .head {
  color: rgb(255, 120, 42);
}

.all {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 32px;
  column-gap: 24px;
}
.num {
  color: rgb(121, 121, 121);
}
